<mat-card>
  <mat-card-title>SJF</mat-card-title>
  <mat-card-content>
    <table class="table" *ngIf="processes">
      <thead>
        <tr>
          <th>Proceso</th>
          <th>Tiempo de ráfaga</th>
          <th>Tiempo de llegada</th>
          <th>Tiempo de espera</th>
          <th>Tiempo de entrega</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let process of processes">
          <td [ngStyle]="{ color: process.color }">{{ process.name }}</td>
          <td>{{ process.burstTime }}</td>
          <td>{{ process.arrivalTime }}</td>
          <td>{{ process.waitingTime }}</td>
          <td>{{ process.turnAroundTime }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Tiempo de espera promedio:</th>
          <td colspan="4">{{ averageWaitingTime | number: '1.0-2' }}</td>
        </tr>
        <tr>
          <th>Tiempo de entrega promedio:</th>
          <td colspan="4">{{ averageTurnaroundTime | number: '1.0-2' }}</td>
        </tr>
      </tfoot>
    </table>
    <h2>Diagrama de Gantt</h2>
    <div *ngIf="gantt && gantt.length > 0">
      <app-gantt-diagram [data]="gantt"></app-gantt-diagram>
    </div>
  </mat-card-content>
</mat-card>
