<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <table class="gantt">
    <tr>
      <td
        [ngStyle]="{
          width: (data[0].width / 2).toString() + '%',
          'text-align': 'left',
          'font-size': '8pt'
        }"
      >
        0
      </td>
      <ng-container *ngFor="let g of data; let i = index">
        <td
          [ngStyle]="{
            width:
              i === 0
                ? (g.width / 2).toString() + '%'
                : g.width.toString() + '%',
            'text-align': 'right',
            'font-size': '8pt',
            'font-stretch': 'ultra-condensed',
            'font-family': 'League Mono Variable'
          }"
        >
          {{ g.end | number: '1.0-2' }}
        </td>
      </ng-container>
    </tr>
    <tr>
      <td
        [attr.colspan]="i === 0 ? 2 : 1"
        [ngStyle]="{
          'text-align': 'center',
          background: g.color
        }"
        *ngFor="let g of data; let i = index"
      >
        {{ g.name }}
      </td>
    </tr>
    <tr>
      <td
        [attr.colspan]="i === 0 ? 2 : 1"
        [ngStyle]="{
          'text-align': 'center',
          'font-size': '8pt',
          'font-stretch': 'ultra-condensed',
          'font-family': 'League Mono Variable'
        }"
        *ngFor="let g of data; let i = index"
      >
        {{
          i == 0
            ? (data[i].end | number: '1.0-2')
            : (data[i].end - data[i - 1].end | number: '1.0-2')
        }}
      </td>
    </tr>
  </table>
</div>
